<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="column_creation_mode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="column_creation_mode" type="xstring" value="New Table"/>
        <config key="column_suffix_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="column_suffix" type="xstring" value=""/>
        <config key="column_selection_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_filterString"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="column_selection">
            <config key="InclList">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="Image from file-upload-input (URL)"/>
            </config>
            <config key="ExclList">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="keep_all_columns_selected" type="xboolean" value="true"/>
        </config>
        <config key="TessLanguage_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="TessLanguage" type="xstring" value="eng"/>
        <config key="TessdataPath_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMN_string_disact"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="TessdataPath" type="xstring" value=""/>
        <entry key="TessdataPath_BOOL" type="xboolean" value="false"/>
        <config key="PageSegMode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="PageSegMode" type="xint" value="2"/>
        <config key="OcrEngineMode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="OcrEngineMode" type="xint" value="3"/>
        <config key="Deskew_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="Deskew" type="xboolean" value="true"/>
        <config key="TessConfig_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_stringarray"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="TessConfig">
            <entry key="array-size" type="xint" value="0"/>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="OCR"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="693"/>
        <entry key="y-coordinate" type="xint" value="322"/>
        <entry key="width" type="xint" value="106"/>
        <entry key="height" type="xint" value="15"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles">
            <config key="style_0">
                <entry key="start" type="xint" value="0"/>
                <entry key="length" type="xint" value="3"/>
                <entry key="fontname" type="xstring" value="Arial"/>
                <entry key="fontstyle" type="xint" value="0"/>
                <entry key="fontsize" type="xint" value="9"/>
                <entry key="fgcolor" type="xint" value="0"/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.knip.tess4j.base.node.Tess4JNodeFactory"/>
    <entry key="node-name" type="xstring" value="Tess4J"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Image Processing - Tess4J Integration"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.knip.tess4j.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="University of Konstanz"/>
    <entry key="node-bundle-version" type="xstring" value="1.3.3.v201906051307"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Image Processing - Tess4J Integration"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.knip.tess4j.feature.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="University of Konstanz - Jonathan Hale, Christian Dietz"/>
    <entry key="node-feature-version" type="xstring" value="1.3.3.v201907171304"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Tess4J"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="true"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.port.inactive.InactiveBranchPortObject"/>
            <entry key="port_object_summary" type="xstring" value="Inactive Port Object"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
