<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="workflow" type="xstring" value="/Forecasting/Prediction REST"/>
<entry key="reportFormatOrNull" type="xstring" isnull="true" value=""/>
<entry key="useFullyQualifiedParameterNames" type="xboolean" value="false"/>
<config key="parameterToJsonConfigMap"/>
<config key="parameterToJsonColumnMap"/>
<entry key="remoteHostAndPort" type="xstring" value="http://192.168.56.101:8080/knime/rest"/>
<entry key="username" type="xstring" value="knimeadmin"/>
<entry key="password" type="xpassword" value="0105CA0A4F743EE8E3298E88114C74355150227EB8B2A8A9A82199386DA281F517"/>
<entry key="credentialsName" type="xstring" isnull="true" value=""/>
<entry key="synchronousInvocation" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Call workflow%%00010via REST"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="707"/>
<entry key="y-coordinate" type="xint" value="477"/>
<entry key="width" type="xint" value="104"/>
<entry key="height" type="xint" value="24"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="11"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="com.knime.server.nodes.callworkflow.CallRemoteWorkflowNodeFactory"/>
<entry key="node-name" type="xstring" value="Call Remote Workflow (Row Based)"/>
<entry key="node-bundle-name" type="xstring" value="KNIME nodes to connect to KNIME Server"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="com.knime.server.nodes"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.10.1.v202001312018"/>
<entry key="node-feature-name" type="xstring" value="KNIME ServerSpace"/>
<entry key="node-feature-symbolic-name" type="xstring" value="com.knime.features.explorer.serverspace.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.10.3.v202004060712"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Call Remote Workflow (Row Based)"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
