<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="dbTable_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dbmetadata"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="dbTable">
            <entry key="database" type="xstring" value="TEST_DB"/>
            <entry key="schema" type="xstring" value="PUBLIC"/>
            <entry key="table" type="xstring" value="DEMO_CLIENT_DATA"/>
        </config>
        <config key="TempTable_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="TempTable" type="xboolean" value="false"/>
        <config key="IfTableExists_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="IfTableExists" type="xstring" value="REPLACE"/>
        <config key="UseDynamicSettings_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="UseDynamicSettings" type="xboolean" value="false"/>
        <config key="AdditionalOptions_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="AdditionalOptions" type="xstring" value=""/>
        <config key="Keys"/>
        <config key="Columns">
            <config key="Column0">
                <entry key="columnName" type="xstring" value="Status of existing checking account"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column1">
                <entry key="columnName" type="xstring" value="Credit history"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column2">
                <entry key="columnName" type="xstring" value="Savings account/bonds"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column3">
                <entry key="columnName" type="xstring" value="Present employment since"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column4">
                <entry key="columnName" type="xstring" value="Installment rate in percentage of disposable income"/>
                <entry key="sqlType" type="xstring" value="DOUBLE"/>
                <entry key="sqlTypeString" type="xstring" value="double"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column5">
                <entry key="columnName" type="xstring" value="Personal status and sex"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column6">
                <entry key="columnName" type="xstring" value="Other debtors / guarantors"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column7">
                <entry key="columnName" type="xstring" value="Present residence since"/>
                <entry key="sqlType" type="xstring" value="DOUBLE"/>
                <entry key="sqlTypeString" type="xstring" value="double"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column8">
                <entry key="columnName" type="xstring" value="Property"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column9">
                <entry key="columnName" type="xstring" value="Age in years"/>
                <entry key="sqlType" type="xstring" value="DOUBLE"/>
                <entry key="sqlTypeString" type="xstring" value="double"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column10">
                <entry key="columnName" type="xstring" value="Other installment plans"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column11">
                <entry key="columnName" type="xstring" value="Housing"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column12">
                <entry key="columnName" type="xstring" value="Number of existing credits at this bank"/>
                <entry key="sqlType" type="xstring" value="DOUBLE"/>
                <entry key="sqlTypeString" type="xstring" value="double"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column13">
                <entry key="columnName" type="xstring" value="Job"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column14">
                <entry key="columnName" type="xstring" value="Number of people being liable to provide maintenance for"/>
                <entry key="sqlType" type="xstring" value="DOUBLE"/>
                <entry key="sqlTypeString" type="xstring" value="double"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column15">
                <entry key="columnName" type="xstring" value="Telephone"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column16">
                <entry key="columnName" type="xstring" value="Foreign worker"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column17">
                <entry key="columnName" type="xstring" value="Score"/>
                <entry key="sqlType" type="xstring" value="VARCHAR"/>
                <entry key="sqlTypeString" type="xstring" value="varchar"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
            <config key="Column18">
                <entry key="columnName" type="xstring" value="ClientID"/>
                <entry key="sqlType" type="xstring" value="BIGINT"/>
                <entry key="sqlTypeString" type="xstring" value="bigint"/>
                <entry key="notNull" type="xboolean" value="false"/>
            </config>
        </config>
        <config key="NameBasedKeys"/>
        <config key="KnimeBasedTypeMapping"/>
        <config key="NameBasedTypeMapping"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Database connection does not exist. Please reset the corresponding connector node."/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.database.node.utility.tablecreator.DBTableCreateNodeFactory2"/>
    <entry key="node-name" type="xstring" value="DB Table Creator"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.5.2.v202203041212"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.5.2.v202203041212"/>
    <config key="factory_settings"/>
    <config key="node_creation_config">
        <config key="KNIME Data Table">
            <config key="port_0">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
        <config key="DB Input">
            <entry key="object_class" type="xstring" value="org.knime.database.port.DBSessionPortObject"/>
        </config>
        <config key="DB Output">
            <entry key="object_class" type="xstring" value="org.knime.database.port.DBSessionPortObject"/>
        </config>
    </config>
    <entry key="name" type="xstring" value="DB Table Creator"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
