<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack">
        <config key="Variable_0">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="norm-col-sel"/>
            <entry key="class" type="xstring" value="STRINGARRAY"/>
            <config key="value">
                <entry key="array-size" type="xint" value="14"/>
                <entry key="0" type="xstring" value="DepTime"/>
                <entry key="1" type="xstring" value="CRSDepTime"/>
                <entry key="2" type="xstring" value="ArrTime"/>
                <entry key="3" type="xstring" value="CRSArrTime"/>
                <entry key="4" type="xstring" value="FlightNum"/>
                <entry key="5" type="xstring" value="ActualElapsedTime"/>
                <entry key="6" type="xstring" value="CRSElapsedTime"/>
                <entry key="7" type="xstring" value="AirTime"/>
                <entry key="8" type="xstring" value="Distance"/>
                <entry key="9" type="xstring" value="TaxiIn"/>
                <entry key="10" type="xstring" value="TaxiOut"/>
                <entry key="11" type="xstring" value="Cancelled"/>
                <entry key="12" type="xstring" value="Diverted"/>
                <entry key="13" type="xstring" value="NASDelay"/>
            </config>
        </config>
        <config key="Variable_1">
            <entry key="type" type="xstring" value="variable"/>
            <entry key="name" type="xstring" value="norm-col-sel"/>
            <entry key="class" type="xstring" value="STRINGARRAY"/>
            <config key="value">
                <entry key="array-size" type="xint" value="14"/>
                <entry key="0" type="xstring" value="DepTime"/>
                <entry key="1" type="xstring" value="CRSDepTime"/>
                <entry key="2" type="xstring" value="ArrTime"/>
                <entry key="3" type="xstring" value="CRSArrTime"/>
                <entry key="4" type="xstring" value="FlightNum"/>
                <entry key="5" type="xstring" value="ActualElapsedTime"/>
                <entry key="6" type="xstring" value="CRSElapsedTime"/>
                <entry key="7" type="xstring" value="AirTime"/>
                <entry key="8" type="xstring" value="Distance"/>
                <entry key="9" type="xstring" value="TaxiIn"/>
                <entry key="10" type="xstring" value="TaxiOut"/>
                <entry key="11" type="xstring" value="Cancelled"/>
                <entry key="12" type="xstring" value="Diverted"/>
                <entry key="13" type="xstring" value="NASDelay"/>
            </config>
        </config>
    </config>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="defaultValue">
            <config key="columns">
                <entry key="array-size" type="xint" value="58"/>
                <entry key="0" type="xstring" value="Count_Hash"/>
                <entry key="1" type="xstring" value="Count_Slangs"/>
                <entry key="2" type="xstring" value="Back_Ch"/>
                <entry key="3" type="xstring" value="Adjective"/>
                <entry key="4" type="xstring" value="Noun"/>
                <entry key="5" type="xstring" value="Verb"/>
                <entry key="6" type="xstring" value="Pronoun"/>
                <entry key="7" type="xstring" value="Adverb"/>
                <entry key="8" type="xstring" value="Curse Words Percent"/>
                <entry key="9" type="xstring" value="negative_tweets"/>
                <entry key="10" type="xstring" value="neutral_tweets"/>
                <entry key="11" type="xstring" value="postive_tweets"/>
                <entry key="12" type="xstring" value="Emoticons count"/>
                <entry key="13" type="xstring" value="Emoticons variance"/>
                <entry key="14" type="xstring" value="assertive_tweets_count"/>
                <entry key="15" type="xstring" value="tag_questionscount"/>
                <entry key="16" type="xstring" value="first_person_pronouns"/>
                <entry key="17" type="xstring" value="second_person_pronouns"/>
                <entry key="18" type="xstring" value="third_person_pronouns"/>
                <entry key="19" type="xstring" value="intensive_pronouns"/>
                <entry key="20" type="xstring" value="possesive_pronouns"/>
                <entry key="21" type="xstring" value="@ count_pointers"/>
                <entry key="22" type="xstring" value="count_punctuation"/>
                <entry key="23" type="xstring" value="number_of_stopwords"/>
                <entry key="24" type="xstring" value="Type_Token"/>
                <entry key="25" type="xstring" value="general_views"/>
                <entry key="26" type="xstring" value="personal_views"/>
                <entry key="27" type="xstring" value="Number_Topics"/>
                <entry key="28" type="xstring" value="Lifestyle_ud"/>
                <entry key="29" type="xstring" value="Politics_ud"/>
                <entry key="30" type="xstring" value="Sports_ud"/>
                <entry key="31" type="xstring" value="Entertainment_ud"/>
                <entry key="32" type="xstring" value="Hash_Dist_female"/>
                <entry key="33" type="xstring" value="Slangs_Dist_female"/>
                <entry key="34" type="xstring" value="Back_Dist_female"/>
                <entry key="35" type="xstring" value="CurseWords_Dist_female"/>
                <entry key="36" type="xstring" value="Adjective_Dist_female"/>
                <entry key="37" type="xstring" value="Verb_Dist_female"/>
                <entry key="38" type="xstring" value="Adverb_Dist_female"/>
                <entry key="39" type="xstring" value="Noun_Dist_female"/>
                <entry key="40" type="xstring" value="Pronoun_Dist_female"/>
                <entry key="41" type="xstring" value="postive_tweets_Dist_female"/>
                <entry key="42" type="xstring" value="negative_tweets_Dist_female"/>
                <entry key="43" type="xstring" value="neutral_tweets_Dist_female"/>
                <entry key="44" type="xstring" value="Emo_count_Dist_female"/>
                <entry key="45" type="xstring" value="Emo_var_Dist_female"/>
                <entry key="46" type="xstring" value="assertive_tweets_count_Dist_female"/>
                <entry key="47" type="xstring" value="count_punctuation_Dist_female"/>
                <entry key="48" type="xstring" value="number_of_stopwords_Dist_female"/>
                <entry key="49" type="xstring" value="Type_Token_Dist_female"/>
                <entry key="50" type="xstring" value="first_person_pronouns_Dist_female"/>
                <entry key="51" type="xstring" value="general_views_Dist_female"/>
                <entry key="52" type="xstring" value="personal_views_Dist_female"/>
                <entry key="53" type="xstring" value="Number_Topics_Dist_female"/>
                <entry key="54" type="xstring" value="Lifestyle_Dist_female"/>
                <entry key="55" type="xstring" value="Politics_Dist_female"/>
                <entry key="56" type="xstring" value="Sports_Dist_female"/>
                <entry key="57" type="xstring" value="Entertainment_Dist_female"/>
            </config>
            <config key="columnFilter">
                <config key="columnFilter">
                    <entry key="filter-type" type="xstring" value="STANDARD"/>
                    <config key="included_names">
                        <entry key="array-size" type="xint" value="58"/>
                        <entry key="0" type="xstring" value="Count_Hash"/>
                        <entry key="1" type="xstring" value="Count_Slangs"/>
                        <entry key="2" type="xstring" value="Back_Ch"/>
                        <entry key="3" type="xstring" value="Adjective"/>
                        <entry key="4" type="xstring" value="Noun"/>
                        <entry key="5" type="xstring" value="Verb"/>
                        <entry key="6" type="xstring" value="Pronoun"/>
                        <entry key="7" type="xstring" value="Adverb"/>
                        <entry key="8" type="xstring" value="Curse Words Percent"/>
                        <entry key="9" type="xstring" value="negative_tweets"/>
                        <entry key="10" type="xstring" value="neutral_tweets"/>
                        <entry key="11" type="xstring" value="postive_tweets"/>
                        <entry key="12" type="xstring" value="Emoticons count"/>
                        <entry key="13" type="xstring" value="Emoticons variance"/>
                        <entry key="14" type="xstring" value="assertive_tweets_count"/>
                        <entry key="15" type="xstring" value="tag_questionscount"/>
                        <entry key="16" type="xstring" value="first_person_pronouns"/>
                        <entry key="17" type="xstring" value="second_person_pronouns"/>
                        <entry key="18" type="xstring" value="third_person_pronouns"/>
                        <entry key="19" type="xstring" value="intensive_pronouns"/>
                        <entry key="20" type="xstring" value="possesive_pronouns"/>
                        <entry key="21" type="xstring" value="@ count_pointers"/>
                        <entry key="22" type="xstring" value="count_punctuation"/>
                        <entry key="23" type="xstring" value="number_of_stopwords"/>
                        <entry key="24" type="xstring" value="Type_Token"/>
                        <entry key="25" type="xstring" value="general_views"/>
                        <entry key="26" type="xstring" value="personal_views"/>
                        <entry key="27" type="xstring" value="Number_Topics"/>
                        <entry key="28" type="xstring" value="Lifestyle_ud"/>
                        <entry key="29" type="xstring" value="Politics_ud"/>
                        <entry key="30" type="xstring" value="Sports_ud"/>
                        <entry key="31" type="xstring" value="Entertainment_ud"/>
                        <entry key="32" type="xstring" value="Hash_Dist_female"/>
                        <entry key="33" type="xstring" value="Slangs_Dist_female"/>
                        <entry key="34" type="xstring" value="Back_Dist_female"/>
                        <entry key="35" type="xstring" value="CurseWords_Dist_female"/>
                        <entry key="36" type="xstring" value="Adjective_Dist_female"/>
                        <entry key="37" type="xstring" value="Verb_Dist_female"/>
                        <entry key="38" type="xstring" value="Adverb_Dist_female"/>
                        <entry key="39" type="xstring" value="Noun_Dist_female"/>
                        <entry key="40" type="xstring" value="Pronoun_Dist_female"/>
                        <entry key="41" type="xstring" value="postive_tweets_Dist_female"/>
                        <entry key="42" type="xstring" value="negative_tweets_Dist_female"/>
                        <entry key="43" type="xstring" value="neutral_tweets_Dist_female"/>
                        <entry key="44" type="xstring" value="Emo_count_Dist_female"/>
                        <entry key="45" type="xstring" value="Emo_var_Dist_female"/>
                        <entry key="46" type="xstring" value="assertive_tweets_count_Dist_female"/>
                        <entry key="47" type="xstring" value="count_punctuation_Dist_female"/>
                        <entry key="48" type="xstring" value="number_of_stopwords_Dist_female"/>
                        <entry key="49" type="xstring" value="Type_Token_Dist_female"/>
                        <entry key="50" type="xstring" value="first_person_pronouns_Dist_female"/>
                        <entry key="51" type="xstring" value="general_views_Dist_female"/>
                        <entry key="52" type="xstring" value="personal_views_Dist_female"/>
                        <entry key="53" type="xstring" value="Number_Topics_Dist_female"/>
                        <entry key="54" type="xstring" value="Lifestyle_Dist_female"/>
                        <entry key="55" type="xstring" value="Politics_Dist_female"/>
                        <entry key="56" type="xstring" value="Sports_Dist_female"/>
                        <entry key="57" type="xstring" value="Entertainment_Dist_female"/>
                    </config>
                    <config key="excluded_names">
                        <entry key="array-size" type="xint" value="0"/>
                    </config>
                    <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
                    <config key="name_pattern">
                        <entry key="pattern" type="xstring" value=""/>
                        <entry key="type" type="xstring" value="Wildcard"/>
                        <entry key="caseSensitive" type="xboolean" value="true"/>
                    </config>
                    <config key="datatype">
                        <config key="typelist">
                            <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                            <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                            <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                            <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                            <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                            <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                        </config>
                    </config>
                </config>
            </config>
        </config>
        <entry key="hideInDialog" type="xboolean" value="false"/>
        <entry key="parameterName" type="xstring" value="norm-col-sel"/>
        <entry key="label" type="xstring" value="Select columns for normalization:"/>
        <entry key="description" type="xstring" value="Select which columns to normalize"/>
        <entry key="required" type="xboolean" value="true"/>
        <entry key="flowVariableName" type="xstring" value="norm-col-sel"/>
        <config key="possibleColumns">
            <entry key="array-size" type="xint" value="58"/>
            <entry key="0" type="xstring" value="Count_Hash"/>
            <entry key="1" type="xstring" value="Count_Slangs"/>
            <entry key="2" type="xstring" value="Back_Ch"/>
            <entry key="3" type="xstring" value="Adjective"/>
            <entry key="4" type="xstring" value="Noun"/>
            <entry key="5" type="xstring" value="Verb"/>
            <entry key="6" type="xstring" value="Pronoun"/>
            <entry key="7" type="xstring" value="Adverb"/>
            <entry key="8" type="xstring" value="Curse Words Percent"/>
            <entry key="9" type="xstring" value="negative_tweets"/>
            <entry key="10" type="xstring" value="neutral_tweets"/>
            <entry key="11" type="xstring" value="postive_tweets"/>
            <entry key="12" type="xstring" value="Emoticons count"/>
            <entry key="13" type="xstring" value="Emoticons variance"/>
            <entry key="14" type="xstring" value="assertive_tweets_count"/>
            <entry key="15" type="xstring" value="tag_questionscount"/>
            <entry key="16" type="xstring" value="first_person_pronouns"/>
            <entry key="17" type="xstring" value="second_person_pronouns"/>
            <entry key="18" type="xstring" value="third_person_pronouns"/>
            <entry key="19" type="xstring" value="intensive_pronouns"/>
            <entry key="20" type="xstring" value="possesive_pronouns"/>
            <entry key="21" type="xstring" value="@ count_pointers"/>
            <entry key="22" type="xstring" value="count_punctuation"/>
            <entry key="23" type="xstring" value="number_of_stopwords"/>
            <entry key="24" type="xstring" value="Type_Token"/>
            <entry key="25" type="xstring" value="general_views"/>
            <entry key="26" type="xstring" value="personal_views"/>
            <entry key="27" type="xstring" value="Number_Topics"/>
            <entry key="28" type="xstring" value="Lifestyle_ud"/>
            <entry key="29" type="xstring" value="Politics_ud"/>
            <entry key="30" type="xstring" value="Sports_ud"/>
            <entry key="31" type="xstring" value="Entertainment_ud"/>
            <entry key="32" type="xstring" value="Hash_Dist_female"/>
            <entry key="33" type="xstring" value="Slangs_Dist_female"/>
            <entry key="34" type="xstring" value="Back_Dist_female"/>
            <entry key="35" type="xstring" value="CurseWords_Dist_female"/>
            <entry key="36" type="xstring" value="Adjective_Dist_female"/>
            <entry key="37" type="xstring" value="Verb_Dist_female"/>
            <entry key="38" type="xstring" value="Adverb_Dist_female"/>
            <entry key="39" type="xstring" value="Noun_Dist_female"/>
            <entry key="40" type="xstring" value="Pronoun_Dist_female"/>
            <entry key="41" type="xstring" value="postive_tweets_Dist_female"/>
            <entry key="42" type="xstring" value="negative_tweets_Dist_female"/>
            <entry key="43" type="xstring" value="neutral_tweets_Dist_female"/>
            <entry key="44" type="xstring" value="Emo_count_Dist_female"/>
            <entry key="45" type="xstring" value="Emo_var_Dist_female"/>
            <entry key="46" type="xstring" value="assertive_tweets_count_Dist_female"/>
            <entry key="47" type="xstring" value="count_punctuation_Dist_female"/>
            <entry key="48" type="xstring" value="number_of_stopwords_Dist_female"/>
            <entry key="49" type="xstring" value="Type_Token_Dist_female"/>
            <entry key="50" type="xstring" value="first_person_pronouns_Dist_female"/>
            <entry key="51" type="xstring" value="general_views_Dist_female"/>
            <entry key="52" type="xstring" value="personal_views_Dist_female"/>
            <entry key="53" type="xstring" value="Number_Topics_Dist_female"/>
            <entry key="54" type="xstring" value="Lifestyle_Dist_female"/>
            <entry key="55" type="xstring" value="Politics_Dist_female"/>
            <entry key="56" type="xstring" value="Sports_Dist_female"/>
            <entry key="57" type="xstring" value="Entertainment_Dist_female"/>
        </config>
        <entry key="type" type="xstring" value="Twinlist"/>
        <entry key="limit_number_visible_options" type="xboolean" value="false"/>
        <entry key="number_visible_options" type="xint" value="10"/>
        <config key="validation">
            <config key="min_num_columns">
                <entry key="error_message" type="xstring" value=""/>
                <entry key="min_num_columns" type="xint" value="0"/>
            </config>
        </config>
        <config key="input_filter">
            <config key="type_filter">
                <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="true"/>
                <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.IntValue" type="xboolean" value="true"/>
                <entry key="org.knime.core.data.LongValue" type="xboolean" value="true"/>
                <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                <entry key="org.knime.core.data.time.localdatetime.LocalDateTimeValue" type="xboolean" value="false"/>
            </config>
            <entry key="allow_all_types" type="xboolean" value="false"/>
            <entry key="filter_columns_without_domain" type="xboolean" value="false"/>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value="Select columns %%00013%%00010for normalization"/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="167"/>
        <entry key="y-coordinate" type="xint" value="279"/>
        <entry key="width" type="xint" value="106"/>
        <entry key="height" type="xint" value="30"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.js.base.node.configuration.filter.column.ColumnFilterDialogNodeFactory2"/>
    <entry key="node-name" type="xstring" value="Column Filter Configuration"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Quick Form Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.js.quickforms"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.0.v202106241849"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Quick Forms"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.js.quickforms.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.0.v202106281443"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Column Filter Configuration"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
