<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="RowShift_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="RowShift" type="xboolean" value="false"/>
<config key="Unpivot_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="Unpivot" type="xboolean" value="false"/>
<config key="ExtendedHeaderColumns_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
<entry key="EnabledStatus" type="xboolean" value="false"/>
</config>
<entry key="ExtendedHeaderColumns" type="xboolean" value="true"/>
<config key="InconsistencyResolutionStrategy_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="InconsistencyResolutionStrategy" type="xstring" value="fail"/>
<config key="OperationType_Internals">
<entry key="SettingsModelID" type="xstring" value="SMID_string"/>
<entry key="EnabledStatus" type="xboolean" value="true"/>
</config>
<entry key="OperationType" type="xstring" value="from arbitrary input table to XLS Control Table (wide or long/unpivoted)"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="com.continental.knime.xlsformatter.xlscontroltablegenerator.XlsControlTableGeneratorNodeFactory"/>
<entry key="node-name" type="xstring" value="XLS Control Table Generator"/>
<entry key="node-bundle-name" type="xstring" value="Continental Nodes for KNIME"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="com.continental.knime.xlsformatter"/>
<entry key="node-bundle-vendor" type="xstring" value="Continental"/>
<entry key="node-bundle-version" type="xstring" value="1.2.0.v202005250952"/>
<entry key="node-feature-name" type="xstring" value="Continental Nodes for KNIME"/>
<entry key="node-feature-symbolic-name" type="xstring" value="com.continental.knime.feature.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="Continental"/>
<entry key="node-feature-version" type="xstring" value="1.2.0.v202005250952"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="XLS Control Table Generator"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_dir_location" type="xstring" isnull="true" value=""/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
