<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="classColumn_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="classColumn" type="xstring" value="Churn"/>
        <config key="featureColumns_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_columnfilter"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="featureColumns">
            <entry key="filter-type" type="xstring" value="name_pattern"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="20"/>
                <entry key="0" type="xstring" value="VMail Message"/>
                <entry key="1" type="xstring" value="Day Mins"/>
                <entry key="2" type="xstring" value="Eve Mins"/>
                <entry key="3" type="xstring" value="Night Mins"/>
                <entry key="4" type="xstring" value="Intl Mins"/>
                <entry key="5" type="xstring" value="CustServ Calls"/>
                <entry key="6" type="xstring" value="Day Calls"/>
                <entry key="7" type="xstring" value="Day Charge"/>
                <entry key="8" type="xstring" value="Eve Calls"/>
                <entry key="9" type="xstring" value="Eve Charge"/>
                <entry key="10" type="xstring" value="Night Calls"/>
                <entry key="11" type="xstring" value="Night Charge"/>
                <entry key="12" type="xstring" value="Intl Calls"/>
                <entry key="13" type="xstring" value="Intl Charge"/>
                <entry key="14" type="xstring" value="Account Length"/>
                <entry key="15" type="xstring" value="Int'l Plan"/>
                <entry key="16" type="xstring" value="VMail Plan"/>
                <entry key="17" type="xstring" value="State"/>
                <entry key="18" type="xstring" value="Area Code"/>
                <entry key="19" type="xstring" value="Churn"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="0"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value="(?!Churn$).*"/>
                <entry key="type" type="xstring" value="Regex"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="maxDepth_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxDepth" type="xint" value="5"/>
        <config key="maxNumBins_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="maxNumBins" type="xint" value="64"/>
        <config key="qualityMeasure_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="qualityMeasure" type="xstring" value="gini"/>
        <config key="minInformationGain_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="minInformationGain" type="xdouble" value="0.0"/>
        <config key="minRowsPerTreeNode_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="minRowsPerTreeNode" type="xint" value="1"/>
        <config key="useStaticSeed_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="useStaticSeed" type="xboolean" value="true"/>
        <config key="seed_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="seed" type="xint" value="1787554342"/>
        <config key="numModels_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="numModels" type="xint" value="50"/>
        <config key="learningRate_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="learningRate" type="xdouble" value="0.1"/>
        <config key="featureSamplingStrategy_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_string"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="featureSamplingStrategy" type="xstring" value="all"/>
        <config key="shouldSampleData_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="shouldSampleData" type="xboolean" value="false"/>
        <config key="dataSamplingRate_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_double"/>
            <entry key="EnabledStatus" type="xboolean" value="false"/>
        </config>
        <entry key="dataSamplingRate" type="xdouble" value="1.0"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="classColumn">
                <entry key="used_variable" type="xstring" value="target-column"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
            <config key="featureColumns">
                <config key="name_pattern">
                    <config key="pattern">
                        <entry key="used_variable" type="xstring" value="featurePattern"/>
                        <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                    </config>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value=""/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="368"/>
        <entry key="y-coordinate" type="xint" value="422"/>
        <entry key="width" type="xint" value="104"/>
        <entry key="height" type="xint" value="13"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="11"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.bigdata.spark.node.ml.prediction.gbt.classification.MLGradientBoostedTreesClassificationLearnerNodeFactory"/>
    <entry key="node-name" type="xstring" value="Spark Gradient Boosted Trees Learner"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Extension for Apache Spark Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.bigdata.spark.node"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="4.4.1.v202108232216"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Extension for Apache Spark"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.bigdata.spark.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="4.4.1.v202108232216"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Spark Gradient Boosted Trees Learner"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
