<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="split-to-1397">
            <config key="variable_value">
                <entry key="array-size" type="xint" value="1"/>
                <entry key="0" type="xstring" value="Months"/>
            </config>
        </config>
        <config key="ID-col-1435">
            <entry key="column" type="xstring" value="CustID"/>
        </config>
        <config key="value-split-1436">
            <entry key="column" type="xstring" value="Value"/>
        </config>
        <config key="start-date-1437">
            <entry key="column" type="xstring" value="Start"/>
        </config>
        <config key="end-date-1438">
            <entry key="column" type="xstring" value="End"/>
        </config>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="split-to-1397">
                <config key="variable_value">
                    <entry key="used_variable" type="xstring" value="split-to"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
            <config key="ID-col-1435">
                <config key="column">
                    <entry key="used_variable" type="xstring" value="ID-col"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
            <config key="value-split-1436">
                <config key="column">
                    <entry key="used_variable" type="xstring" value="value-split"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
            <config key="start-date-1437">
                <config key="column">
                    <entry key="used_variable" type="xstring" value="start-date"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
            <config key="end-date-1438">
                <config key="column">
                    <entry key="used_variable" type="xstring" value="end-date"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
        </config>
    </config>
    <config key="nodeAnnotation">
        <entry key="text" type="xstring" value=""/>
        <entry key="bgcolor" type="xint" value="16777215"/>
        <entry key="x-coordinate" type="xint" value="408"/>
        <entry key="y-coordinate" type="xint" value="239"/>
        <entry key="width" type="xint" value="104"/>
        <entry key="height" type="xint" value="13"/>
        <entry key="alignment" type="xstring" value="CENTER"/>
        <entry key="borderSize" type="xint" value="0"/>
        <entry key="borderColor" type="xint" value="16777215"/>
        <entry key="defFontSize" type="xint" value="9"/>
        <entry key="annotation-version" type="xint" value="20151123"/>
        <config key="styles"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="workflow-file" type="xstring" value="workflow.knime"/>
    <entry key="virtual-in-ID" type="xint" value="41"/>
    <config key="inports">
        <config key="inport_0">
            <entry key="index" type="xint" value="0"/>
            <config key="type">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
    </config>
    <entry key="virtual-out-ID" type="xint" value="1392"/>
    <config key="outports">
        <config key="outport_0">
            <entry key="index" type="xint" value="0"/>
            <config key="type">
                <entry key="object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            </config>
        </config>
    </config>
    <config key="metadata">
        <entry key="description" type="xstring" value="This component formats data before analyzing recurring events, such as monthly or annually recurring revenue. In the input table, each record holds a time period, an ID, and some numeric value. These records could be, for example, contracts with different customers. In the formatted output table, each record holds a time point within the time period, ID, and value. This value is calculated by dividing the original value by the number of single time points within the time period.  %%00013%%00010%%00013%%00010The granularity of the single time points can be set to &quot;Days&quot; or &quot;Months&quot;.  %%00013%%00010%%00013%%00010Required extensions:%%00013%%00010- KNIME Math Expression (JEP) %%00013%%00010(https://hub.knime.com/knime/extensions/org.knime.features.ext.jep/latest)%%00013%%00010- KNIME Quick Forms %%00013%%00010(https://hub.knime.com/knime/extensions/org.knime.features.js.quickforms/latest)"/>
        <entry key="type" type="xstring" value="VISUALIZER"/>
        <entry key="icon" type="xstring" value="iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA3klEQVR4nL2S/Q2CQAzFGYERHOECx/+MwAhuABvIBt4GjuAIjuAIrGJ/5koewQ80xiYNba/v3fXRovilhRB2G7x8Cq7r+mreV1W1xy0+m188Nx/paZomrAhohj3GOGbCNoMGq7XUIOAi+6YFmCYOiGkmp9nPrXZUInotPujtEwDxyWpJ8sTTtQfMrIey+ys0ZxzNDdxZPizGoOBjwAypjDjPnDVYgoX55M9SDTx+KKAaYEhE2FJfoxe8IrkrbN+Qd6Hz2Ed8a/ors+K9irjJIGALWTBfro+NXcC/Av/NbnifZmUzsd9GAAAAAElFTkSuQmCC"/>
        <config key="inports">
            <config key="inport_0">
                <entry key="name" type="xstring" value="Contracts data "/>
                <entry key="description" type="xstring" value="- Two columns of type Date&amp;Time that define the start and end date of the time period %%00013%%00010- Numeric or string column for the IDs that identify each record%%00013%%00010- Numeric column for the values that are assigned to each time period and ID%%00013%%00010"/>
                <entry key="index" type="xint" value="0"/>
            </config>
        </config>
        <config key="outports">
            <config key="outport_0">
                <entry key="name" type="xstring" value="Recurring values"/>
                <entry key="description" type="xstring" value="- Column of type Date&amp;Time for the single time points that have been extracted from each time period%%00013%%00010- String or numeric column for the IDs of the records%%00013%%00010- Numeric column for the values assigned to each time point and ID"/>
                <entry key="index" type="xint" value="0"/>
            </config>
        </config>
    </config>
    <config key="workflow_template_information">
        <entry key="role" type="xstring" value="Link"/>
        <entry key="timestamp" type="xstring" value="2020-07-14 12:55:49 +0000"/>
        <entry key="sourceURI" type="xstring" value="knime://My-KNIME-Hub/Users/knime/Examples/00_Components/Financial%20Analysis/Calculate%20Recurring%20Values"/>
    </config>
    <entry key="layoutJSON" type="xstring" value="{&quot;rows&quot;:[{&quot;type&quot;:&quot;row&quot;,&quot;columns&quot;:[{&quot;content&quot;:[{&quot;type&quot;:&quot;view&quot;,&quot;nodeID&quot;:&quot;82&quot;,&quot;scrolling&quot;:false,&quot;resizeMethod&quot;:&quot;viewLowestElement&quot;,&quot;resizeTolerance&quot;:5,&quot;sizeWidth&quot;:false,&quot;sizeHeight&quot;:true,&quot;autoResize&quot;:true},{&quot;type&quot;:&quot;nestedLayout&quot;,&quot;nodeID&quot;:&quot;1354&quot;}],&quot;widthXS&quot;:12}]}]}"/>
    <entry key="configurationLayoutJSON" type="xstring" value="{}"/>
    <entry key="hideInWizard" type="xboolean" value="false"/>
    <entry key="customCSS" type="xstring" value=""/>
</config>
